a {
  color: #FFFFFF;
  text-decoration: none;
}

body {
  background-color: black;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}

header .hz {
  display: inline-block;
  padding-top: 40px;
}

header .logo {
  display: inline-block;
}

header .buttons {
  display: inline-block;
  padding-left: 290px;
  word-spacing: 30px;
}

header .en-lupa {

  padding-left: 250px;
  display: inline-block;
}

header .palk {
  margin-right: 20px;
  margin-left: 20px;

}

header a {
  font-size: 15px;
  font-weight: bolder;
}

header a:hover {
  color: #A37846;
  padding-top: 30px;
}

.txt-cur {
  display: flex;
  justify-content: space-between;
}

.polz-cor {
  padding-right: 16px;
  padding-top: 14px;
}

.switch-btn {
  display: inline-block;
  width: 48px;
  /* ширина переключателя */
  height: 24px;
  /* высота переключателя */
  border-radius: 10px;
  /* радиус скругления */
  background: #E6E6E6;
  /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;

}

.switch-btn::after {
  content: "";
  height: 21px;
  /* высота кнопки */
  width: 21px;
  /* ширина кнопки */
  border-radius: 18px;
  /* радиус кнопки */
  background: #E6E6E6;
  /* цвет кнопки */
  top: -1, 5px;
  /* положение кнопки по вертикали относительно основы */
  margin-top: 1px;
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #E6E6E6;

}

.switch-on::after {
  left: 2px;
  background: #ffffff;
  /* krug */
}

.pokaz {
  color: #9CA1A9;
  font-size: 17px;
  padding-right: 12px;
  font-weight: 500;
}

.section-one {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  color: #FFFFFF;
  margin-top: 32px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #FFFFFF;
  border-radius: 10px;

}

.currency {
  display: flex;
  justify-content: space-between;

}

.dollar {
  font-size: 17px;
  color: #9CA1A9;
  padding-left: 16px
}

.dol-cur {
  font-size: 17px;
  padding-left: 5px;
  color: #000000;
}

.euro {
  font-size: 17px;
  padding-left: 15px;
  color: #9CA1A9;
}

.eu-cur {
  font-size: 17px;
  padding-left: 5px;
  color: #000000;
}

.section-two {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  color: #FFFFFF;
  margin-top: 17px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #FFFFFF;
  border-radius: 10px;
}

.news-one {
  margin-top: 58px;
  border: 5px solid #A37846;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
}

.txt-none {
  font-size: 50px;
  color: #000000;
  text-align: center;
  margin-top: 45px;
}

.time-one {
  font-size: 15px;
  color: #9CA1A9;
  text-align: center;
}